@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.burger-menu {
  &__list {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 4vh;
  }

  &__item {
    font-size: 28px;
  }

  &__link {
    transition: color $initial-transition,
    border-color $initial-transition;
    border-bottom: 1px solid transparent;

    &:hover {
      color: $main-accent;
      border-color: $main-accent;
    }
  }
}
