@import '../utils/mixins.scss';
@import '../utils/placeholders.scss';

.contents {
  @extend %section;

  &__title {
    @extend %second-title;

    margin-bottom: 10px;
  }

  &__info {
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    gap: 30px;

    @include onTablet {
      flex-direction: column;
    }
  }
}