@import '../utils/variables.scss';
@import '../utils/mixins.scss';
@import '../utils/placeholders.scss';

.features {
  @extend %section;

  &__title {
    @extend %second-title;

    margin-bottom: 28px;
  }

  &__info {
    max-width: 510px;

    margin-bottom: 80px;
  }

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;

    @include onMobile {
      flex-direction: column;
    }
  }

  &__img {
    width: 50vw;

    transition: transform $initial-transition;

    &:hover {
      transform: scale(1.05);
    }

    @include onMobile {
      width: 70vw;
      margin-bottom: 20px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}