@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.features {
  margin-bottom: 160px;

  &__title {
    text-align: center;
    font-size: 52px;
    line-height: 62px;

    margin-bottom: 28px;
  }

  &__info {
    max-width: 510px;

    text-align: center;
    margin: 0 auto;

    margin-bottom: 80px;
  }

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;

    @include onMobile {
      flex-direction: column;
    }
  }

  &__img {
    width: 60vw;

    transition: transform $initial-transition;

    &:hover {
      transform: scale(1.05);
    }

    @include onMobile {
      margin-bottom: 20px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}