@import '../utils/variables.scss';
@import '../utils/placeholders.scss';

.gallery {
  @extend %section;

  &__title {
    @extend %second-title;
    margin-bottom: 10px;
  }

  &__info {
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

    margin-bottom: 40px;
  }

  &__img {
    display: block;

    border-radius: 12px;

    transition: transform $initial-transition;

    &:hover {
      transform: translateY(-10%);
    }
  }
}