@import '../utils/variables.scss';

.message {
  position: fixed;
  bottom: 2%;
  right: 2%;

  transform: translateX(130%);
  transition: transform $initial-transition;

  &--active {
    transform: translateX(0);
  }
}