@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 20px 30px;

  @include onMobile {
    padding: 10px 5px;
  }

  &__logo-img {
    transition: transform $initial-transition;

    &:hover {
      transform: scale(1.05);
    }

    @include onMobile {
      width: 50vw;
    }
  }

  &__list {
    display: flex;
    gap: 10px;

    @include onTablet {
      display: none;
    }
  }

  &__list-item {
    font-size: 16px;

    transition: transform $initial-transition;

    &::after {
      content: '';
      display: block;
      bottom: 0;
      height: 1px;
      background-color: transparent;
      border-radius: 20px;
      transition: background-color $initial-transition;
    }

    &:hover {
      transform: scale(1.05);

      &::after {
        background-color: $main-accent;
      }
    }
  }

  &__list-link {
    padding: 10px;

    transition: color $initial-transition;

    &:hover {
      color: $main-accent;
    }
  }

  &__menu {
    display: none;
    cursor: pointer;

    @include onTablet {
      display: block;
    }

  }
}