@import '../utils/keyframes.scss';
@import '../utils/variables.scss';
@import '../utils/placeholders.scss';

.partners {
  @extend %section;

  &__title {
    @extend %second-title;

    margin-bottom: 10px;
  }

  &__info {
    margin-bottom: 60px;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
  }

  &__img {
    display: block;

    &:hover {
      animation: drag 750ms 100ms ease-in-out;
    }
  }
}

