@import '../utils/placeholders.scss';

.testimonials {
  @extend %section;


  &__title {
    @extend %second-title;

    margin-bottom: 60px;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 900px;
  }
}