@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500&display=swap');
@import './utils/variables.scss';
@import './utils/mixins.scss';
@import './reset.scss';

@import './components/container.scss';

:root {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: gray;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid gray;
}

.App {
  overflow: hidden;
  background-color: $dark-bg;
  color: $light-text;
  font-family: 'Catamaran', sans-serif;
  font-size: $initial-text-size;
  line-height: 150%;
}